<!-- views/reviews-index.handlebars -->

<h1>Reviews</h1>

<div class="row">
    <div class="card">
        <div class="card-body">
            {{#each reviews}}
            <div class="col-md-3">
                <h2><a href="/reviews/{{this._id}}">{{this.title}}</a></h2>
                <small>{{this.movieTitle}}</small>
            </div>
        </div>
    </div>
    {{/each}}
</div>